.mainBox{
    position: absolute;
    width: 1000px;
    height: 90%;
    opacity: 0.8;
    left: 20%;
    right: 20%;
    top: 10%;
}
.headerCard{
    border-radius: 0;
    :global{
        .ant-card-body {
            padding: 0px;
        }
    }
}
.headerBox{ 
    margin-bottom: 20px;
}
.noteButton{
    width: 190px;
    padding-left: 2px;
    border-radius: 1;
    background: rgb(121, 128, 134);
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}