
.headerCard{
    border-radius: 0;
    :global{
        .ant-card-body {
            padding: 0px;
        }
    }
}
.headerBox{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.noteButton{
    width: 190px;
    padding-left: 2px;
    border-radius: 1;
    background: rgb(121, 128, 134);
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}