/* stylelint-disable rule-empty-line-before */
.searchContainer{
  margin-top: 12px;
  width: 40%;
  max-width: 600px;
  min-width: 400px;
}

.todoBox{
  position: absolute;
  top: 4px;
  right: 4px;
}
.container{
  display: flex;
  flex-direction: column;

}
.listContent{
  position: absolute;
  top:190px;
  left: 875px;
  width: 300px;
  
}
