/* stylelint-disable rule-empty-line-before */
@import url("../../assets/fonts/fonts.less");

.clockBox{
  font-family: 'Do Hyeon', sans-serif;
  background-color: rgba(255, 255, 255, 0%);
  opacity: 1;
  color: black;
  .clock{
    color: rgba(96, 88, 88, 80%);
    font-size: 72px;
    text-shadow: 3px 3px 4px #131111;
  }
  .date{
    font-size: 16px;
  }
}
